#customBtn2 {
  display: inline-block;
  background: #4285f4;
  color: #ffffff;
  width: 162px;
  border-radius: 3px;
  border: 1px solid #4285f4;
  white-space: nowrap;
  padding: 0px;
  margin-left: 5px;
  margin-right: 2px;
}

#customBtn2:hover {
  cursor: pointer;
}

span.label2 {
  font-family: serif;
  font-weight: normal;
  color: #000;
  font-family: "Roboto", sans-serif;
}

span.icon2 {
  background: url("../images/g-normal.png") transparent 0px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 32px;
  border-radius: 2px;
}

span.buttonText2 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 6px;
  font-size: 12px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}
