body {
  background: #f7f7f7;
  font-family: arial;
  text-align: left;
  overflow: auto;
  margin: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
