@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  overflow: auto;
  margin: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
